

html,body{
    background-color:  #d3b0f1;
}
.navbar{
    background-color: blueviolet;
}
.contact{
    margin-right: 12px;
    margin-left: 10px;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
